@use 'reset';
@use 'variables' as v;
@use 'mixins' as mx;

/* GLOBAL --------------------- */

html {
	font-size: 16px;

	// Magic:
	@media (max-width: 1000px) {
		font-size: calc(12px + .4vw);
	}
}

body {
	font-family: "Barlow", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-optical-sizing: auto;
	margin: 0;

	&.mobile-menu-active {
		overflow: hidden;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fraunces", serif;
	font-weight: 900;
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.125rem; //18px
	line-height: 1.313rem; //21px

	a,
	ol,
	ul {
		font-size: inherit;
		line-height: inherit;
	}
}

a {
	@include mx.transition;
}

ol,
ul {
	margin: 0;
}

.sr-only {
	@include mx.screen-reader-only;
}

/* HEADER (would normally be it's own file, but since it's an example) ---------- */
header,
main {
	.sunnyside-inner-wrap:not(#smb-testimonials) {
		background-color: v.$headerblue;
	}
}

header {
	.hamburger {
		@include mx.remove-btn-defaults;
		position: relative;
		width: 50px;
		height: 50px;
		padding: 1rem;
		z-index: 20;

		@include mx.tablet-up {
			display: none;
		}

		.ham-bar {
			@include mx.absoluteXYCenter;
			transition: transform .6s, opacity .8s, top .6s;
			width: 70%;
			height: 4px;
			background-color: #fff;
			border-radius: 25px;

			&.top {
				top: 25%;
			}

			&.bottom {
				top: 75%;
			}
		}

		&.active {
			.ham-bar {

				&.top,
				&.bottom {
					top: 50%;
				}

				&.top {
					transform: translate(-50%, -50%) rotate(-315deg);
				}

				&.middle {
					opacity: 0;
				}

				&.bottom {
					transform: translate(-50%, -50%) rotate(-225deg);
				}
			}


		}
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: v.$white;
		padding: 36px 40px 0;

		ul {
			display: flex;
			flex-direction: column;
			list-style: none;

			@include mx.tablet-up {
				flex-direction: row;
				align-items: flex-end;
			}

			&.off-screen-mobile {
				@include mx.mobile-only {
					position: fixed;
					top: 0;
					right: -85%;
					height: 100vh;
					width: 85%;
					background-color: darken(v.$headerblue, 50%);
					transition: right .5s;
					z-index: 10;
					align-items: center;
					padding: 15vh 0 0;

					a {
						font-size: 1.5rem;
					}
				}

				&.active {
					@include mx.mobile-only {
						right: 0;
					}
				}
				
			}

			a {
				display: block; //prevents hover cut off
				padding: 15px 30px;
				text-decoration: none;
				border-radius: 40px;

				&:active,
				&:hover,
				&:focus {
					background-color: v.$hoverblue;
				}
			}
		}
	}
}

.sunnyside-inner-wrap {
	@include mx.max-width;
	margin: auto;

	&:not(nav) {
		display: block;
	}
}

/* HOMEPAGE (would normally be it's own file, but since it's an example) ---------- */

#sunny-main-banner {
	position: relative;

	#smb-title {
		@include mx.absoluteHorizontalCenter;
		font-size: 3.125rem; //50px
		line-height: 3.125rem; //50px
		color: v.$white;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 6px;
		margin: 2.36em 0 0; //118px
	}

	#smb-arrow-down {
		position: relative;
		margin: 85px auto 0;

		@include mx.tablet-up {
			margin-top: 105px;
		}
	}
}

.smb-two-grid,
.smb-four-grid {
	@include mx.max-width;
}

.smb-two-grid {
	position: relative;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;

	@include mx.large-up {
		grid-template-columns: repeat(2, 1fr);
	}

	&.content-left,
	&.content-right {
		.smb-content {
			@include mx.absoluteXYCenter;
			z-index: 1;
			padding: 1.5rem;
			background: rgb(255 255 255 / 80%);
			min-width: 90%;

			@include mx.large-up {
				width: 50%;
				position: static;
				padding: 0;
				background: none;
				transform: translate(0);
				min-width: 440px;
			}

			h3 {
				font-size: 2.25rem; //36px
				line-height: 2.5rem; //40px
				color: v.$headingblue;
			}

			p {
				color: v.$descblue;
				line-height: 1.8rem;
				margin-top: 1.875rem; //30px
			}
	
			.cta-learn-more {
				margin-top: 54px;
			}
		}
	}

	&.content-overlap {
		.smb-content {
			position: relative;
			width: 100%;
			
			&:first-child {
				color: v.$textcyan;
			}

			&:last-child {
				color: v.$textblue;
			}
		}

		.smb-content-inner {
			@include mx.absoluteHorizontalCenter;
			bottom: 15%;
			width: 80%;
			text-align: center;

			@include mx.tablet-up {
				bottom: 20%;
				width: 50%;
			}

			@include mx.large-up {
				bottom: 10%;
				width: 75%;
			}
			
			h3, p {
				color: inherit;
			}

			h3 {
				font-size: 1.8rem;
				line-height: 1.4rem;

				@include mx.large-up {
					font-size: 1.6rem;
					line-height: 1.2rem;
				}
			}

			p {
				font-size: 1.3rem;
				line-height: 1.8rem;
				font-weight: 700;
				margin-top: 2em;

				@include mx.large-up {
					font-size: 1.1rem;
					line-height: 1.5rem;
					min-height: 72px;
				}
			}
			
		}
	}

	.smb-img {
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.smb-four-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@include mx.tablet-up {
		grid-template-columns: repeat(4, 1fr);
	}
}

.cta-learn-more {
	display: block;
	@include mx.title-900;
	font-size: .97rem; //16px
	line-height: .97rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: v.$headingblue;
	text-decoration: none;
	padding-left: 5px;
	max-width: 140px;

	&:after {
		@include mx.transition;
		background-color: transparent;
		display: block;
		content: "";
		height: 8px;
		width: 0%;
		margin-left: -5px;
		margin-top: -5px;
		border-radius: 5px;
	}

	&.yellow {
		&:after {
			background-color: v.$yellow;
		}
	}

	&.softred {
		&:after {
			background-color: v.$softred;
		}
	}

	&:hover,
	&:active,
	&:focus {
		&:after {
			width: 100%;
		}
	}
}

#smb-testimonials {
	padding: 163px 2%;
	background: v.$bgoffwhite;

	.smb-test-flex {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;

		@include mx.tablet-up {
			flex-direction: row;
		}
	}
}

.smb-testimonials-title {
	color: v.$lightgrey;
	text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 6rem;
}

.smb-testimonial {
	text-align: center;
	padding: 0 2%;

	.smb-tsm-avatar {
		display: block;
		margin: 0 auto 64px;
		width: 73px;
		height: 73px;
		border-radius: 100%;
	}

	.smb-tsm-blurb {
		line-height: 1.7rem;
		min-width: 350px;
		min-height: 80px;
		color: v.$descblue;
	}

	.smb-tsm-author {
		@include mx.title-900;
		color: v.$headingblue;
		margin-top: 4.4rem;
	}

	.smb-tsm-title {
		color: v.$lightgrey;
		font-size: 1rem;
		line-height: 1rem;
		margin-top: .7em;
	}
}

