//Note: Don't like using this here and then in main...research
@use 'variables' as v;

/* RESPONSIVE ---------------- */

@mixin tablet-up {
	@media (min-width: map-get(v.$grid-breakpoints, md)) {
		@content;
	}
}

@mixin large-up {
	@media (min-width: map-get(v.$grid-breakpoints, lg)) {
		@content;
	}
}

/* VISUAL ---------------- */

@mixin transition {
	transition: all .3s ease-in-out;
}

@mixin title-700 {
	font-family: "Fraunces", serif;
	font-weight: 700;
}

@mixin title-900 {
	font-family: "Fraunces", serif;
	font-weight: 900;
}

/* UTILITIES  ---------------- */

@mixin max-width(){
	width: 100%;
	max-width: v.$maxwidth;
	margin-left: auto;
	margin-right: auto;
}

@mixin remove-btn-defaults() {
	padding:    0;
	background: none;
	border:     none;
	border-radius: 0;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; 
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin absoluteHorizontalCenter(){
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

@mixin absoluteXYCenter() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}