/* RESPONSIVE ---------------- */

@mixin tablet-up {
	@media (min-width: #{$md}) {
		@content;
	}
}

@mixin large-up {
	@media (min-width: #{$lg}) {
		@content;
	}
}

/* VISUAL ---------------- */

@mixin transition {
	transition: all .3s ease-in-out;
}

@mixin title-700 {
	font-weight: 700;
}

@mixin title-900 {
	font-weight: 900;
}

/* UTILITIES  ---------------- */

@mixin remove-btn-defaults() {
	padding:    0;
	background: none;
	border:     none;
	border-radius: 0;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; 
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin absoluteHorizontalCenter(){
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}