$softred: #FE7867;
$yellow: #FAD400;
$textcyan: #25564B;
$bgcyan: #458C7E;
$headerblue: #3ebfff;
$hoverblue: #008ed5;
$textblue: #19536B;
$headingblue: #23303E;
$descblue: #5A636C;
$subtitleblue: #818498;
$lightgrey: #A7ABAE;
$white: #fff;
